package main

import (
	"database/sql"
	"net/http"
)

func getUsers(db *sql.DB) http.HandlerFunc {
	// Implementation here
}

func getUser(db *sql.DB) http.HandlerFunc {
	// Implementation here
}

func createUser(db *sql.DB) http.HandlerFunc {
	// Implementation here
}

func updateUser(db *sql.DB) http.HandlerFunc {
	// Implementation here
}

func deleteUser(db *sql.DB) http.HandlerFunc {
	// Implementation here
}
