package server

import (
	"{{.ModName}}/internal/config"
	"net/http"
	"log"

	"github.com/gorilla/mux"
)

func Run() {


	r := mux.NewRouter()

	// Routes

	r.HandleFunc("/", HomeHandler)
	r.HandleFunc("/products", ProductsHandler)
	r.HandleFunc("/articles", ArticlesHandler)

	cfg := config.Config()

	log.Printf("Listen and Serve at port : %s \n", cfg.AppPort)
	log.Fatal(http.ListenAndServe(":"+cfg.AppPort, r))
}