package server

import (
    "{{.ModName}}/internal/config"
    "net/http"
    "log"

    "github.com/gorilla/mux"
)


func Run() {

    r := mux.NewRouter()

    s := http.StripPrefix("/static/", http.FileServer(http.Dir("./static/")))
    r.PathPrefix("/static/").Handler(s)


    // Routes
    
    r.HandleFunc("/", Home)

	r.HandleFunc("/path1", Func1)
	r.HandleFunc("/path2", Func2)
	r.HandleFunc("/path3", Func3)
	r.HandleFunc("/path4", Func4)

    cfg := config.Config()

	log.Printf("Listen and Serve at port : %s \n", cfg.AppPort)
	log.Fatal(http.ListenAndServe(":"+cfg.AppPort, r))
}