package main

import (
   "fmt"
   "log"
   "os"

   "github.com/gofiber/fiber/v2"

   "database/sql" // add this
   _ "github.com/lib/pq" // add this
)

 func main() {

    connStr := "postgresql://<username>:<password>@<database_ip>/todos?sslmode=disable" // Make sure to replace username, password, and database_ip with the username, password, and IP address of your database.

   // Connect to database
    db, err := sql.Open("postgres", connStr)
    if err != nil {
        log.Fatal(err)
    }

   app := fiber.New()

   app.Get("/", indexHandler) // Add this

   app.Post("/", postHandler) // Add this

   app.Put("/update", putHandler) // Add this

   app.Delete("/delete", deleteHandler) // Add this

   port := os.Getenv("PORT")
   if port == "" {
       port = "3000"
   }
   log.Fatalln(app.Listen(fmt.Sprintf(":%v", port)))
}