package server

import (
    "{{.ModName}}/internal/config"
    "fmt"
    "log"
    "os"

    "github.com/gofiber/fiber/v3"
)

 func Run() {

    app := fiber.New()

    app.Static("/static", "./ui/static") 

    app.Get("/", indexHandler) // Add this
    app.Post("/", postHandler) // Add this
    app.Put("/update", putHandler) // Add this
    app.Delete("/delete", deleteHandler) // Add this

    cfg := config.Config()

    log.Printf("Listen and Serve at port : %s \n", cfg.AppPort)
    log.Fatalln(app.Listen(":"+cfg.AppPort))
}