package database

import (
	"{{.ModName}}/internal/config"
	"fmt"
	"log"

	"gorm.io/driver/postgres"
	"gorm.io/gorm"
)

func InitializeDB() (*gorm.DB, error) {

	cfg := config.Config()

	dsn := fmt.Sprintf("host=%s user=%s password=%s dbname=%s port=%s sslmode=disable TimeZone=Asia/Shanghai", cfg.DbHost, cfg.DbUsername, cfg.DbPassword, cfg.DbDatabase, cfg.DbPort)
	db, err := gorm.Open(postgres.Open(dsn), &gorm.Config{})
	if err != nil {
		log.Fatalln(err)
	}

	sqlDB, err := db.DB()
	if err != nil {
		panic("failed to get DB")
	}

	err = sqlDB.Ping()
	if err != nil {
		panic("failed to ping database")
	} else {
		log.Println("Successfully Connected To DB")
	}

	return db, err
}
